.font-color{
    -fx-text-fill: #FFFFFF;
}

.btn {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 50;
}

.btn-toolbar {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 50;
}

.table-column {
    -fx-alignment: center;
}


.btn-submit {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #4D5AFF;
    -fx-background-radius: 50;
}

.btn-transparent{
    -fx-background-color: transparent;
}

.btn-transparent:hover{
    -fx-underline: true;
}

.btn-manage{
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 50;
    -fx-background-color: #9747FF;
}

.btn-manage:hover{
    -fx-text-fill: black;
    -fx-background-color: #4D5AFF;
}

.btn-admin-page{
    -fx-text-fill: white;
    -fx-background-color: #1C2238;
}

.btn-admin-page:hover{
    -fx-underline: true;
}

.btn-delete-post{
    -fx-text-fill: white;
    -fx-background-color: #1C2238;
}

.btn-ban-user{
    -fx-text-fill: white;
    -fx-background-color: #FF4D4D;
}

.btn-unban-user{
    -fx-text-fill: white;
    -fx-background-color: #21DB29;
}

.card {
    -fx-background-color: #4D5AFF;
}

.card:hover{
}

.nav-color {
    -fx-background-color: #161A2B;
}

.bg {
    -fx-background-color: #222943;
}

.bg2 {
    -fx-background-color: #1C2238;
}

.curve-edge {
    -fx-background-radius: 30;
}

.transparent {
    -fx-background-color: transparent;
}

.combo-box-theme {
    -fx-background-color: transparent;
}
